<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <style>
            :root {
              --vt-c-white: #ffffff;
              --vt-c-white-soft: #f8f8f8;
              --vt-c-white-mute: #f2f2f2;
              --vt-c-dark-blue: #001e34;
              --vt-c-light-blue: #4cb0d4;
              --vt-c-black: #181818;
              --vt-c-black-soft: #222222;
              --vt-c-black-mute: #282828;
              --vt-c-indigo: #2c3e50;
              --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
              --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
              --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
              --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);
              --vt-c-text-light-1: var(--vt-c-indigo);
              --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
              --vt-c-text-dark-1: var(--vt-c-white);
              --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
              --color-background: var(--vt-c-white);
              --color-background-soft: var(--vt-c-white-soft);
              --color-background-mute: var(--vt-c-white-mute);
              --color-border: var(--vt-c-divider-light-2);
              --color-border-hover: var(--vt-c-divider-light-1);
              --color-heading: var(--vt-c-text-light-1);
              --color-text: var(--vt-c-text-light-1);
              --section-gap: 160px;
            }
            @media (prefers-color-scheme: dark) {
              :root {
                --color-background: var(--vt-c-black);
                --color-background-soft: var(--vt-c-black-soft);
                --color-background-mute: var(--vt-c-black-mute);
                --color-border: var(--vt-c-divider-dark-2);
                --color-border-hover: var(--vt-c-divider-dark-1);
                --color-heading: var(--vt-c-text-dark-1);
                --color-text: var(--vt-c-text-dark-2);
              }
            }
        </style>
        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </head>
    <body style="background: var(--color-background); color: var(--color-text);">
        {% block body %}{% endblock %}
    </body>
</html>
